* {
  box-sizing: border-box; }

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #d0dae9;
  padding: 30px;
  color: #535258;
  text-shadow: 3px 1px #efeaf7; }
  .topbar #name {
    flex-grow: 0.7;
    font-size: 40px; }
  .topbar #about {
    font-size: 27px; }
  .topbar #projects {
    font-size: 27px; }

.divider {
  padding: 3px; }

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #c8bdf7; }
  .header .name {
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px #6b5897; }
  .header .bio {
    color: white;
    text-shadow: 1px 1px #6b5897; }
  .header img {
    background-color: white;
    padding: 5px;
    border-radius: 50%; }
