:root {
  --buttonColor: rgb(220, 200, 223);
  --buttonShadow: rgb(165, 135, 172);
  --mainText: rgb(83, 77, 116);
  --topBarColor: rgb(208, 218, 233);
  --headerColor: rgb(200, 189, 247);
  --projDetailsBack:rgb(236, 232, 243); }

* {
  box-sizing: border-box; }

#topbar {
  background-color: var(--topBarColor);
  color: var(--mainText);
  text-shadow: 3px 1px #efeaf7;
  padding: 20px; }
  #topbar #name {
    font-family: 'Merriweather', serif; }
  #topbar #name:hover {
    font-size: 30px;
    color: #9e98b8;
    cursor: pointer; }
  #topbar #welcome {
    display: none;
    color: white;
    text-shadow: 0px 0px #efeaf7;
    font-family: 'Merriweather', serif; }
  #topbar .pushableButton {
    position: relative;
    background-color: var(--buttonColor);
    font-family: 'Merriweather', serif;
    border-radius: 12%;
    padding: 15px;
    margin: 15px;
    box-shadow: 0px 4px var(--buttonShadow);
    -moz-box-shadow: 0px 4px var(--buttonShadow);
    -webkit-box-shadow: 0px 4px var(--buttonShadow); }
  #topbar .pushableButton:hover {
    cursor: pointer; }
  #topbar .pushableButton:active {
    box-shadow: 0px 0pxx pink;
    -moz-box-shadow: 0px 0px pink;
    -webkit-box-shadow: 0px 0px pink;
    top: 4px; }

.divider {
  padding: 3px; }

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--headerColor);
  padding-right: 40px; }
  .header #intro {
    color: white;
    text-shadow: 1px 1px #6b5897;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header #intro #name {
      font-size: 7vmin; }
    .header #intro #bio {
      font-size: 5vmin; }
  .header img {
    background-color: white;
    max-height: 300px;
    padding: 3px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px; }

.title {
  color: var(--mainText);
  text-align: center;
  font-size: 30px;
  font-family: 'Merriweather', serif;
  text-shadow: 2px 1px white;
  padding: 20px; }

.descriptionBox {
  background-color: var(--projDetailsBack);
  border: solid 20px var(--topBarColor);
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Merriweather', serif;
  color: var(--mainText);
  padding: 18px; }

#aboutSection {
  background-color: var(--topBarColor); }
  #aboutSection #aboutDescription {
    text-align: center;
    padding: 40px; }
    #aboutSection #aboutDescription .awardTitle {
      font-weight: bold; }

#projectsSection {
  background-color: var(--topBarColor); }
  #projectsSection .project {
    display: grid; }
    #projectsSection .project .projectTitle {
      padding-left: 20px;
      color: #605d68;
      font-size: 25px;
      font-family: 'Merriweather', serif; }
    #projectsSection .project .projectLink {
      font-size: 20px;
      font-family: 'Merriweather', serif; }
      #projectsSection .project .projectLink a:hover {
        color: #a4caa4;
        font-size: 23px; }
      #projectsSection .project .projectLink a:active {
        color: #dc9ce2; }
    #projectsSection .project .projectDetails {
      background-color: var(--projDetailsBack);
      border: solid 20px var(--topBarColor);
      border-radius: 5px;
      font-size: 18px;
      font-family: 'Merriweather', serif;
      color: var(--mainText);
      padding: 18px; }

#websiteDetails {
  background-color: var(--projDetailsBack);
  padding: 20px;
  text-align: center; }
  #websiteDetails p {
    font-size: 18px;
    font-family: 'Merriweather', serif; }
  #websiteDetails a {
    font-size: 18px;
    font-family: 'Merriweather', serif; }
