
// global vars
:root{
    --buttonColor: rgb(220, 200, 223);
    --buttonShadow: rgb(165, 135, 172);
    --mainText: rgb(83, 77, 116);
    --topBarColor: rgb(208, 218, 233);
    --headerColor: rgb(200, 189, 247);
    --projDetailsBack:rgb(236, 232, 243);
}

*{
    box-sizing: border-box;
}

// NAVBAR
#topbar{
    background-color:var(--topBarColor);
    color:var(--mainText);
    text-shadow: 3px 1px #efeaf7;
    padding: 20px;
    #name{
        // font-size:25px;
        font-family: 'Merriweather', serif; 
        color: var(--mainText);
    }
    #name:hover{
        font-size:30px;
        color: rgb(158, 152, 184);
        cursor:pointer;
    }
    #welcome{
        display:none;
        //font-size: 30px;
        color:white;
        text-shadow: 0px 0px #efeaf7;
        font-family: 'Merriweather', serif;
    }
    .pushableButton {
        position:relative;
        text-decoration:none;
        color: var(--mainText);
        background-color:var(--buttonColor);
        font-family: 'Merriweather', serif;
        border-radius: 12%;
        padding: 15px;
        margin: 15px;
        box-shadow: 0px 4px var(--buttonShadow);
        -moz-box-shadow: 0px 4px var(--buttonShadow);
        -webkit-box-shadow: 0px 4px var(--buttonShadow);
    }
    .pushableButton:hover{
        cursor:pointer;
    }
    // clicking the button makes it appear to go down
    .pushableButton:active{
        box-shadow: 0px 0pxx pink;
        -moz-box-shadow: 0px 0px pink;
        -webkit-box-shadow: 0px 0px pink;
        top: 4px;
    }
}


.divider{
    padding:3px;
}


.header{
    background-color:var(--headerColor);
    #intro {
        color:white;
        text-shadow: 1px 1px #6b5897;
        display: flex;
        align-items: center;
        font-family: 'Merriweather', serif;
        #name{
            font-size:4vmin;
            text-align:center;
        }
        #bio {
            font-size:3vmin;
            text-align:center; 
        }
    }
    #profilePic {
        display: flex;
        justify-content: left;
        align-items: center;
        img{
            background-color:white;
            max-height:300px;
            padding:3px;
            border-radius:50%;
            margin-top:20px;
            margin-bottom:20px;
        }
    }
}



.title{
    color:var(--mainText);
        text-align:center;
        font-size:30px;
        font-family: 'Merriweather', serif;
        text-shadow: 2px 1px white;
        padding:20px;
}

.descriptionBox{
    background-color:var(--projDetailsBack);
    border: solid 20px var(--topBarColor);
    border-radius:5px;
    font-size:18px;
    font-family: 'Merriweather', serif;
    color: var(--mainText);
    padding: 18px;
}


.circleLink{
    color:white;
    text-decoration:none;
    background-color:var(--buttonColor);
    font-family: 'Merriweather', serif;
    border: solid 3px white;
    //makes buttons round
    border-radius: 50%;
    cursor:pointer;
}


.learnMore{ 
    background-color:var(--headerColor);
    color:white;
    text-shadow: 1px 1px #6b5897;
    text-align:center;
    font-family: 'Merriweather', serif;
    padding:20px;
    #learnMoreText{
        font-size:3vmin;
    }
    #linksrow{
        padding:30px;
    }
    #ab{
        padding:25px 14px;
    }
    #pb{
        padding:26px 9px;
    }
    #rb{
        padding:26px 9px;
    }
}

.connect{ 
    background-color:var(--headerColor);
    color:white;
    text-shadow: 1px 1px #6b5897;
    text-align:center;
    font-family: 'Merriweather', serif;
    padding:20px;
    #connectText{
        font-size:3vmin;
    }
    #linksrow{
        padding:30px;
    }
    #in{
        padding:28px 23px;
    }
    #gm{
        padding:28px 23px;
    }
    #gh{
        padding:28px 23px;
    }
}



#aboutSection{
    background-color:var(--topBarColor);
    #aboutDescription{
        text-align:center;
        padding:40px;
        .awardTitle{
            font-weight:bold;
        }
    }   
}

#projectsSection{

    background-color:var(--topBarColor);
    .project{
        display:grid;
        .projectTitle{
            padding-left:20px;
            color: rgb(96, 93, 104);
            font-size:25px;
            font-family: 'Merriweather', serif;
        }
        .projectLink{
            font-size:20px;
            font-family: 'Merriweather', serif;
            a:hover{
                color:rgb(164, 202, 164);
                font-size:23px;
            }
            a:active{
                color:rgb(220, 156, 226);
            }
        }
        .projectDetails{
            background-color:var(--projDetailsBack);
            border: solid 20px var(--topBarColor);
            border-radius:5px;
            font-size:18px;
            font-family: 'Merriweather', serif;
            color: var(--mainText);
            padding: 18px;
        }
    }


    
}

#websiteDetails{
    background-color: var(--projDetailsBack);
    padding: 20px;
    text-align:center;
    p{
        font-size:18px;
        font-family: 'Merriweather', serif;
    }
    a{
        font-size: 18px;
        font-family: 'Merriweather', serif;
    }
}

// RESUME HTML PAGE
#resumeDownload {
    margin:40px;
    color:white;
    font-size:2vmin;
}

#nameHeaderResume{
    font-family: 'Merriweather', serif;
    color: var(--mainText);
    text-decoration:none;
}


//PROJECTS HTML PAGE
.projectBox{
    background-color: var(--topBarColor);
}



